.content .container {

    background-color: #dbedf2;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 970px;
    border-radius: 20px;
    
}

.content .container img {

    width: 300px;
    height: 300px;
    border-radius: 20px;

}

.content .container h2 {

    margin-bottom: 20px;
    font-size: 30px;

}

.content .container .about>p {

    text-align: justify;

}